:root {
    --primary-color: #B8B8B8;
    --secondary-color: #145133;
    --tertiary-color: #4B1980;
}
/* universal and body styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: var(--primary-color);
    background-color: var(--secondary-color);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0 auto;
}

/* header/nav styles start */
header {
    padding: 25px 40px;
    background-color: var(--tertiary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9999;
}
header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 2em;
    color: var(--primary-color);
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}
header a {
    text-decoration: none;
    color: var(--primary-color);
}

header nav {
    margin: 7px 0;
}

header nav ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;    
}

header nav ul li a {
    padding: 15px 20px;
    font-weight: lighter;
    font-size: 1.75vw;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

header nav ul li a:hover {
    background: var(--secondary-color);
    color: var(--tertiary-color);
    border-radius: 20px;
    text-shadow: none;
}
/* header/nav styles end */
/* section styles start */

/* hero styles start */
.hero {
    background-image: url('../images/Gold-code.jpeg');
    width: 100%;
    height: 300px;
    background-size: cover;
}
/* hero styles end */

/* section title syles start */
section, footer {
    display: flex;
}
.section-title {
    font-size: 2.5em;
    text-align: right;
    padding-right: 25px;
    margin-left: 10px;
}
/* about me section styles start */
.about {
    display: flex;
}
.about h2 {
    align-items: stretch;
    padding: 20px;
} 
.about p {
    align-items: stretch;
    border-left: 2px solid var(--tertiary-color);
    padding: 10px 20px;
    margin-top: 20px;
}
.me {
    text-align: center;
    margin-top: 20px;
    width: 400px;
    height: 300px;
    display: flex;
}

/* about me section styles end */

/* work section styles start */
.project-work {
    display: flex;
    text-align: center;
    padding-left: 19px;
}
.project-work h2 {
    text-align: right;
    align-items: stretch;
    padding: 20px;

}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-left: 2px solid var(--tertiary-color);

    padding: 10px 20px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.project img {
    width: 80%;
    align-items: center;
}

.project {
    flex-wrap: wrap;
}


/* work section stlyes end */

/* contact me section styles start */
.contact {
    padding: 10px 5px 10px 0;
    background-color: var(--tertiary-color);
    display: flex;
}
.contact h2 {
    align-items: stretch;
    padding: 20px;
}
.contact-info {
    align-items: stretch;
    border-left: 2px solid;
    padding: 10px 20px;
    margin-top: 20px;
}
.contact-info ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}
 .contact-info ul li a {
     text-decoration: underline;
     color: var(--primary-color);
    padding-left: 30px;
} 

/* contact me section styles end */

/* Utilities */
.flex-row {
    display: flex;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}

/* for smaller desktop screens and smaller */
@media screen and (max-width: 980px) {  
    header {
        justify-content: center;
    }
    header nav {
        padding-top: 10px;
    }

}


/* for tablets and smaller */
@media screen and (max-width: 768px) {
    header {
        position: relative;
    }
    header nav ul li a{
        font-size: 4vw;
    }
    .projects img {
        width: 100%;
    }
    .contact-info ul li a {
        display: inline-block;
        padding: 20px 15px;
    }
}

/* for mobile phones and smaller */
@media screen and (max-width: 575px) {
    header {
        text-align: center;
    }
    .contact-info ul li a {
        display: inline-block;
        padding: 20px 15px;
    }
}